---
import Layout from '../../layouts/BaseLayout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Plogs from '../../components/Plogs.astro';
import PostContainer from '../../components/PostContainer.astro';

export async function getStaticPaths() {
  const plogs = await getCollection('plog');
  return plogs.map((plog, index) => {
    const prevPlog = index > 0 ? plogs[index - 1] : null;
    const nextPlog = index < plogs.length - 1 ? plogs[index + 1] : null;
    return {
      params: { slug: plog.id },
      props: { plog, prevPlog, nextPlog },
    };
  });
}

type Props = {
  plog: CollectionEntry<'plog'>;
  prevPlog: CollectionEntry<'plog'> | null;
  nextPlog: CollectionEntry<'plog'> | null;
};

const { plog, prevPlog, nextPlog } = Astro.props;
---

<Layout title={`${plog.data.title}`} description={plog.data.description} image={plog.data.heroImage}>
  <div class="container">
    <div class="content-layout">
      <PostContainer post={plog} prevPost={prevPlog} nextPost={nextPlog} />

      <aside class="latest-plogs">
        <h2 class="section-title">最新のPlog</h2>
        <Plogs flow="vertical" max="3" />
      </aside>
    </div>
  </div>
</Layout>

<style lang="scss">
  .content-layout {
    display: flex;
    gap: 2rem;
  }

  .latest-plogs {
    margin: 2rem auto;
    max-width: 300px;
    flex: 1;
  }

  @media (max-width: 768px) {
    .content-layout {
      flex-direction: column;
    }

    .latest-plogs {
      max-width: 100%;
      margin-top: 1rem;
    }
  }
</style>
